.DS_Store
venv
.venv
.idea
bazel*
.ijwb

*.log

.env

test_data.json
resources/test*json

.env*

user.bazelrc

__pycache__/

node_modules/
.terraform/
terraform.tfstate
terraform.tfstate.backup
variables.tfvars
