# Scipy and Numpy for examples
pip-tools
requests
scipy
numpy
pandas
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
spacy
spacy-cleaner
jsonpickle

jupyterlab

# Required Google and Protobuf APIs
google-api-python-client
google-cloud-aiplatform==1.42.1
google-cloud-storage
google-cloud-bigquery
gcloud

grpclib
grpcio

fastapi
uvicorn

pydoc-markdown

# Dataflow
apache_beam==2.51.0 #2.53.0
google.cloud.pubsub
google.cloud.logging
apache_beam[gcp]==2.51.0 #2.53.0