name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Bazel Setup
        uses: bazelbuild/setup-bazelisk@v3

      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel

      - name: "Build"
        run: bazel build //...

      - name: Checkout Go Branch
        if: github.ref == 'refs/heads/main'
        uses: actions/checkout@v4
        with:
          ref: 'docs'
          clean: 'false'

      - name: Expand Docs
        if: github.ref == 'refs/heads/main'
        run: |
          echo "Unzipping Docs Site"
          tar -zxf "${GITHUB_WORKSPACE}/bazel-out/*-fastbuild/bin/docs/docs_archive.tar" -C ./

      - name: Check-in Latest Docs
        if: github.ref == 'refs/heads/main'
        uses: EndBug/add-and-commit@v9
        with:
          author_name: "Build Robot"

      
